<div class="container">
  <div class="aboutme">
    <div class="grid">
      <div class="item left">
        <img src="../../assets/webpic22.jpeg">
      </div>
      <div class="item upper_right">
        <img src="../../assets/webpic111.jpeg">
      </div>
      <div class="item lower_right">
        <img src="../../assets/webpic3.jpeg">
      </div>
    </div>
    <p class="text-justify">
      I am a passionate coder who loves to code probably every hour of the day.
      Yeah with a cup of COFFEE next to me!! Just like every other passionate
      coder or developer, coding gives me immense satisfaction and
      relaxation.<br />
      Apart from coding I am a sports geek, who loves to watch cricket and
      football a lot. Being a proud believer of "Never Say Die Attitude", I am
      fierce supporter of teams like Australia in Cricket and Real Madrid in
      Football, which I believe are the perfect examples of the previous phrase.
      Other then sports I spend my time reading or exploring new places.
    </p>
    <!-- <div class="details">
        <div class="row"><span class="col"><i class="fa fa-globe" aria-hidden="true"></i> Kaiserslautern, Germany </span>
        <span class="col"><i class="fa fa-envelope" aria-hidden="true"></i> surveaniket461@gmail.com</span>
    </div>
    <div class="row"><span class="col"><i class="fa fa-phone-square" aria-hidden="true"></i> +49 1234567890          </span>
        <span class="col"><i class="fa fa-birthday-cake" aria-hidden="true"></i> 20th JUNE 1998          </span>
    </div>
    </div>-->
  </div>

  <div class="social-wrapper">
    <h5 class="text-center">Find me on social platforms</h5>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/aniket-surve-3a8b5512b/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a href="https://github.com/Aniket461"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/aniketsurve__58/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="text-center">
    <button
      class="btn custom-btn aboutbtn + {{
        this.workedu == 'work' ? 'activeworkedu' : ''
      }}"
      type="button"
      (click)="this.toggleworkedu('work')"
    >
      Experience <i class="fa fa-briefcase" aria-hidden="true"></i>
    </button>
    <button
      class="btn custom-btn aboutbtn + {{
        this.workedu == 'education' ? 'activeworkedu' : ''
      }}"
      type="button"
      (click)="this.toggleworkedu('education')"
    >
      Education <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </button>
  </div>

  <div *ngIf="this.workedu == 'work'" class="work-experience">
    <h5 class="text-2xl text-center py-2">Work Experiences</h5>

    <div
      *ngFor="let c of workex"
      class="workex"
      style="margin-top: 30px"
    >
    <h6>{{c.role}}</h6>
      <h6>{{c.companyname}}<span>{{"("+c.duration + ")"}}</span></h6>
      <ul style="list-style-type: circle;">
        <li *ngFor="let desc of c.description.split('• ')" ><p style="margin-bottom: 2px;">{{desc}}</p></li>
      </ul>
    </div>
  </div>
  <div *ngIf="this.workedu == 'education'" class="education">
    <h5 class="text-2xl text-center py-2">My Education</h5>
    <div
      *ngFor="let c of education"
      class="workex"
      style="margin-top: 5px"
    >
      <h6>{{c.title}}</h6>
      <p style="margin-bottom: 0px;">{{c.degree}}</p>
      <p>{{c.duration}}</p>
    </div>
  </div>
</div>
