<div class="projects">
  <h6 class="text-2xl text-center py-1">Main Projects</h6>
  <div *ngFor="let p of mainprojects" class="subproject row">
    <div class="div1 col-4 proj-img">
        <img src="../../assets/placeholder.jpg">
    </div>
    <div class="div2 col-7">
      <h6 class="text-xl text-center">Project 1 Name</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nam
        itaque facere consequuntur minima tempora aliquam debitis nulla maxime
        autem? Natus animi error quia quidem totam asperiores dicta quod cum!
      </p>
      <h6>Tech-Stack used:</h6>
      <p>AngularJS, C#, Javascript, MongoDB</p>
      <div class="text-center">
        <a href="/aboutme"
          ><button class="btn custom-btn" type="button">
            Visit
            <i class="fa fa-eye" aria-hidden="true"></i></button
        ></a>
        <a href="/aboutme"
          ><button class="btn custom-btn" type="button">
            Github
            <i class="fa fa-github" aria-hidden="true"></i></button
        ></a>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <!-- <img src="../../assets/zigzag2.svg" style="height: 12em; width: 100%;"> -->

  <div class="break-line"></div>

  <h6 class="text-2xl text-center" style="padding-bottom: 20px">Fun Projects</h6>
  <div *ngFor="let p of gameprojects" class="subproject row">
    <div class="div1 col-4 proj-img">
        <img src="../../assets/placeholder.jpg">
    </div>
    <div class="div2 col-7">
      <h6 class="text-xl text-center">Project 1 Name</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nam
        itaque facere consequuntur minima tempora aliquam debitis nulla maxime
        autem? Natus animi error quia quidem totam asperiores dicta quod cum!
      </p>
      <h6>Tech-Stack used:</h6>
      <p>AngularJS, C#, Javascript, MongoDB</p>
      <div class="text-center">
        <a href="/aboutme"
          ><button class="btn custom-btn" type="button">
            Visit
            <i class="fa fa-eye" aria-hidden="true"></i></button
        ></a>
        <a href="/aboutme"
          ><button class="btn custom-btn" type="button">
            Github
            <i class="fa fa-github" aria-hidden="true"></i></button
        ></a>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
