.custom-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-form2 {
  width: 100%;
  margin-top: 1%;
  padding: 2em;
}
.custom-form2 input,
textarea {
  margin-bottom: 1em;
}

.custom-form2 input,
textarea {
  border: 1px solid #7091E6 ;
}
.custom-form2 input:focus,
textarea:focus {
  border: 2px solid #7091E6 ;}
.custom-form2 label {
  font-size: 1em;
  font-weight: bold;
}
.custom-btn {
  width: 170px;
}
