<div class="nav">
  <span class="menu"
    ><i class="fa fa-bars menubar" aria-hidden="true" (click)="menuClick()"></i>

    <ul class="menu-ul {{ this.show ? 'show' : 'hide' }} py-2 px-2">
      <a href="/"
        ><li><i class="fa fa-home" aria-hidden="true"></i> HOME</li></a
      >
      <a href="/aboutme"
        ><li>
          <i class="fa fa-info-circle" aria-hidden="true"></i> ABOUT ME
        </li></a
      >
      <a href="/projects"
        ><li><i class="fa fa-laptop" aria-hidden="true"></i> MY PROJECTS</li></a
      >
      <a href="/contact"
        ><li><i class="fa fa-phone" aria-hidden="true"></i> CONTACT ME</li></a
      >
      <li>
        <i
          style="font-size: 30px"
          class="fa fa-times-circle-o"
          aria-hidden="true"
          (click)="menuClick()"
        ></i>
      </li>
    </ul>
  </span>
</div>
<div class="wrap">
  <router-outlet></router-outlet>
</div>
<p class="text-l" style="font-weight: bold; text-align: center">
  &copy; COPYRIGHT 2024 ANIKET SURVE
</p>
