/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

body {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 0%, #cdd5f1 100%);
  background-attachment: fixed;
  min-height: 100vh;
}

.custom-btn {
  width: 150px;
  margin: 10px;
  border: 2px solid  #7091E6;
  background-color:  #7091E6 ; //rgb(13 191 214 / 60%);
  color: white;
}
.custom-btn:hover {
  border: 2px solid  #7091E6 ; //rgb(13 191 214 / 53%);
  color: black;
}

.break-line{
margin-top: 4em;
    margin-bottom: 4em;
    height: 3px;
    background-color: #95aff2;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
